body {
  margin: 0px;
}

#main {
  height: 100vh;
}

.header {
  height: 10%;
  background-color: #757575;
}
.container {
  display: flex;
  height: 80%;
  margin: 10px 0px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.containerA {
  height: 50%;
  background-color: red;
}
.containerB {
  height: 50%;
  background-color: orange;
}
.containerC {
  display: block;
  width: 25%;
  background-color: yellow;
}
.footer {
  height: 10%;
  background-color: #757575;
}

@media (min-width: 401px) and (max-width: 800px) {
  .sub-container {
    width: 50%;
  }
  .containerC {
    width: 50%;
  }
}
@media (max-width: 400px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .sub-container{
        width: 100%;
        height: 66%
    }
    .containerC{
        height: 33%;
        width: 100%;
    }
}
