body {
    margin: 0px;
  }
  
  #main {
    height: 100vh;
  }
  
  .header {
    height: 10%;
    background-color: #757575;
  }
  .container {
    display: flex;
    height: 80%;
    margin: 10px 0px;
  }
  .containerA {
    order: 2;
    width: 50%;
    background-color:rgb(104, 153, 32);
  }
  .containerB {
    order: 1;
    width: 25%;
    background-color: green;
  }
  .containerC {
    order: 3;
    width: 25%;
    background-color: yellow;
  }
  .footer {
    height: 10%;
    background-color: #757575;
  }
  @media (min-width: 401px) and (max-width: 800px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .containerA{
        order:1;
        height: 66%;
        width: 100%;
    }
    .containerB{
        order: 2;
        height: 34%;
        width:50%;
    }
    .containerC{
        height: 34%;
        width: 50%;
    }
  }
  @media (max-width: 400px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .containerA{
        order: 1;
        flex: 2;
        width: 100%;
    }
    .containerB{
        order: 2;
        flex: 1;
        width: 100%;
    }
    .containerC{
        flex: 1;
        width: 100%;
    }
  }